<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Shotlate</string>
	<key>CFBundleDisplayName</key>
	<string>Shotlate</string>
	<key>CFBundleIdentifier</key>
	<string>app.shotlate.Shotlate</string>
	<key>CFBundleExecutable</key>
	<string>Shotlate</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Shotlate 需要屏幕录制权限来截取屏幕内容。</string>
	<key>SUFeedURL</key>
	<string>https://github.com/zuijiaosy/shotlate/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>RkEtvfkFSA2c5E/7aSKK3a8TgSGHQQcBdpE8IPBYvpg=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUAutomaticallyUpdate</key>
	<false/>
</dict>
</plist>
